#m-5 {
    margin-left: 10px;
}

#selection {
    background-color:dodgerblue;
    width: 38px;
    height: 38px;
    color: white;
}

.page-link next {
    border-radius: 50px;
}

.input-form {
    margin-left: 50px;
}

.input-check {
    margin-left: 30px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-top: 17px;
}

.modal-content {
    background-color: transparent;
}

.custom-select {
    width: auto;
}

.btn-primary{
    margin-right: 5px;
}

